{% extends "base.html" %}

{% load bootstrap_tags %}

{% block page_title %}Reset Password{% endblock %}

{%block page_heading %}Reset Password{% endblock %}

{% block content %}

<div class="form-container base-wrapper">
    <div class="form-styling justify-content-center">
        <form method="POST">
        <h4>Password Reset</h4><hr>
        {% csrf_token %}
        {{ form | as_bootstrap }}
        <button type="submit" class="btn btn-primary ml-2">Update password</button>
        </form>
    </div>
</div>
{% endblock %}