{% extends "base.html" %}

{% block page_title %}Password reset successful{% endblock %}

{%block page_heading %}Password reset successful{% endblock %}

{% block content %}
<section class="form-container login-redirect-text">
   <div class="bg-white">
      <div class="media text-muted">
         <p>
            <i class="fas fa-arrow-left"></i><a class="view-more-option" href="{% url 'login' %}">
            Back to login</a>
         </p>
      </div>
   </div>
</section>
<div class="form-container base-wrapper">
    <div class="form-styling justify-content-center no-margin-top">
        <p class="password-reset-success">You will recive an email shortly containing instructions for setting your password to the e-mail address you submitted.</p>
    </div>
</div>
{% endblock %}