{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block page_title %}Your Service{% endblock %}

{%block page_heading %}Your Service{% endblock %}

<!-- Form is used to add a service that will be added to the main services page -->
{% block content %}
<div class="form-container base-wrapper">
	<div class="form-styling justify-content-center">
		<h1>Your Service</h1>
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			{{ form | as_bootstrap }}
			<button type="submit" class="btn btn-info">Save</button>
		</form>
	</div>
</div>
{% endblock %}