{% extends 'base.html' %} 

{% block page_title %}Services{% endblock %}

{%block page_heading %}Services{% endblock %}

{% block content %}

<section>

<section class="jumbotron text-center">
    <div class="container">
      <h1>Marketing and Website Services</h1>
      <hr>
      <p class="lead text-muted">If you're looking to promote your marketing or web services, then you've come to the right place. Below you can do just that
      and it will become visible to all those looking for experts in thier field to help boost thier own businesses.</p>
      <p>
        <a href="{% url 'add_product' %}" class="btn btn-primary my-2">Add a New Service</a>
      </p>
    </div>
</section>

<div class="container">
    <div class="row centre-align-text">
        <div class="search-bar-container display">
            <form action="{% url 'search_product' %}" method="GET">
                <input class="search-bar" type="text" name="q">
                <button type="submit">Search</button>
            </form>
        </div>
    </div>
</div>

<div class="album">
<div class="container">
<div class="product-row">
  {% for product in products %}
  <div class="col-xl-4 col-md-6">
    <div class="card mb-4 shadow-sm">
      <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>
      <div class="product-card-body">
      <p class="product-title">{{ product.name }}</p>
      <p class="text-muted">{{ product.category }}</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
            <form method="post" action="{% url 'add_to_cart' product.id %}">
            {% csrf_token %}
            <div class="centre-align-text">
                <span class="input-group-btn">
                    <button class="product-btns btn-success" type="submit">Add to Cart</button>
                </span>
            </div>
            </form>
            <form class="ml-2" method="post" action="{% url 'product_details' product.id %}">
            {% csrf_token %}
            <div class="centre-align-text">
                <span class="input-group-btn">
                    <button class="product-btns btn-info" type="submit">Find out more</button>
                </span>
            </div>
            </form>
        </div>
        <p class="product-price">£{{ product.price }}</p>
      </div>
      </div>
    </div>
  </div>
  {% endfor %}
  </div>
</div>
</div>
{% endblock %}
</section>