{% extends 'base.html' %}

{% block content %}

<div class="row">
	<div class="col-md-2 col-sm-3 text-center">
		<a class="story-img" href="#">
			<img src="/media/img/profile.jpg" class="img-circle">
            </a>
			<p><span class="boldtext">Author:</span> Jack</p>
	</div>
	<div class="col-sm-10 col-md-9">
		{% if product.image %}
		<img class="img-blogpost" src="/media/{{ review.image }}">
            {% endif %}
		<h3>{{ item.product.name }}</h3>
		<div class="row">
			<div class="col-xs-9">
				
				<p><span class="boldtext">Service Title:</span> {{ item.product.name }} </p>
				<p><span class="boldtext">Service Type:</span> {{ item.product.category }} </p>
                <p><span class="boldtext">Description:</span> {{ item.product.description }} </p>
				<p><span class="boldtext">Price:</span> {{ item.product.price }} </p>
				<a href="{% url 'products' %}" class="btn btn-default">Back to Services</a>
				<a href="{% url 'edit_product' item.id %}" class="btn btn-default">Edit Service</a>
				<hr>
			</div>
		</div>
	</div>
</div>
{% endblock %}