/* ------ General ------ */

@media (min-width: 767px) {
  .hide {
    display: none;
  }
}

@media (max-width: 767px) {
  .hide-service-type {
    display: none;
  }
}

h1 {
  font-weight: 600 !important;
}

h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.2;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#content {
  min-height: calc(100vh - 40px);
}

button {
  margin-bottom: 12px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

ul {
  padding-left: 0px !important;
  margin-bottom: 0 !important;
}

li {
  list-style-type: none !important;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.margin-bottom-5 {
  margin-bottom: 5px;
}

.base-font-colour {
  color: #737373 !important;
}

.base-wrapper {
  min-height: calc(100vh - 265px);
}

.padding-left {
  padding-left: 0px !important;
}

.panel-default {
  border-color: transparent;
  padding: 0 10px;
}

.panel-body {
  height: 100%;
  padding: 15px;
  border: 1px solid #ddd;
}

/* ------ Font Awesome ------ */

.fa,
.fas {
  font-size: 11px !important;
}

/* ------ Bootstrap ------ */

.alert {
    margin-bottom: 0px !important;
}

.row.row-flex {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.row {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.navbar-collapse {
  text-align: center;
}

.container-fluid {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.col-12 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.bg-light {
  background-color: #f2f2f2 !important;
}

.jumbotron {
  background-color: #f7f7f7 !important;
}

.btn-group,
.btn-group-vertical {
  width: 100%;
}

.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem #ababab !important;
}

.lead {
  font-size: 17px !important;
}

@media (min-width: 576px) {
  .jumbotron {
    padding: 2rem 1rem !important;
  }
}

/* ------ Dashboard ------ */

#total-orders {
  background-color: #4cb4c7;
}

#orders-delivered {
  background-color: #7abecc;
}

#orders-pending {
  background-color: #7cd1c0;
}

/* ------ Password Reset ------ */

.password-reset-success {
  margin-top: 10px;
  text-align: center;
}

.login-redirect-text {
  margin-top: 15px;
}

.no-margin-top {
  margin-top: 0px !important;
}

/* ------ Customer Page ------ */

.card-body {
  padding: 28px !important;
}

.order-status-table {
  padding-top: 18px !important;
  padding-left: 18px !important;
  padding-right: 18px !important;
  padding-bottom: 10px !important;
  flex: 1 1 auto;
}

.website-logo {
  width: auto;
  height: 40px;
}

.product-btn-padding {
  padding-bottom: 21px !important;
  padding-top: 21px !important;
}

/* ------ Profile ------ */

.profile-header-row {
  padding-left: 15px !important;
  padding-right: 15px !important;
  margin-top: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.edit-profile-btn-padding {
  padding-bottom: 40px !important;
  padding-top: 40px !important;
}

/* ------ Search Bar - Design Assisted by W3Schools (https://www.w3schools.com/howto/howto_css_search_button.asp) ------ */

.search-bar-container {
  width: 100%;
}

.search-bar-margin-bottom {
  margin-bottom: 10px;
}

form.search-bar input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
}

form.search-bar button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #007bff;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.search-bar button:hover {
  background: #0b7dda;
}

form.search-bar::after {
  content: "";
  clear: both;
  display: table;
}

/* ------ Forms ------ */

.form-styling {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 70px;
  margin-top: 70px;
}

.form-container {
  width: 40%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media only screen and (max-width: 1385px) {
  .form-container {
    width: 60%;
  }
}

@media only screen and (max-width: 920px) {
  .form-container {
    width: 80%;
  }
}

@media only screen and (max-width: 735px) {
  .form-container {
    width: 90%;
  }
}

/* ------ Forum ------ */

.add-post {
  margin-bottom: 10px;
  margin-top: 10px;
}

.panel-body-forum {
  height: 100%;
  padding: 15px;
  border: 1px solid #ddd;
  border-left: 7px solid #1c6ea4;
  margin-bottom: 15px;
}

.panel-body-forum-details {
  margin-bottom: 15px;
  margin-top: 15px;
  padding: 15px;
  height: 100%;
  border: 1px solid #ddd;
}

.forum-category-header {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

.view-more-option {
  font-size: 16px;
  font-weight: 700;
  color: #6c757d;
}

/* ------ Products ------ */

.countdown-clock-container {
  text-align: center;
}

.countdown-clock {
  font-size: 16px;
  font-weight: 600;
}

.countdown-clock-text {
  font-weight: 500 !important;
}

.countdown-clock-text-colour {
  color: #007bff !important;
}

.product {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  height: 150px;
  margin: 4px;
  border-radius: 0.25rem;
}

.product-info {
  padding-left: 15px;
}

.product-title {
  font-size: 18px;
  font-weight: 600;
}

.product-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.product-price {
  font-size: 17px;
  font-weight: 500;
}

.product-btns {
  margin-bottom: 0px !important;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 8px;
  font-size: 13px;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.add-to-cart-button {
  width: 75%;
}

.product-description {
  min-height: 40px;
  margin-bottom: 0px !important;
}

.panel-body-product {
  height: 100%;
  border: 1px solid #ddd;
}

.product-card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem !important;
}

/* ------ About Us ------ */

.about-heading {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.about-heading > span {
  display: inline-block;
  border-bottom: 3px #000;
  font-weight: 500;
  line-height: 1em;
  letter-spacing: 0.135em;
  padding-bottom: 0.125em;
  text-transform: uppercase;
  text-align: center;
  color: #4a4a4a !important;
}

.panel-body-about {
  height: 100%;
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.panel-body-about:hover {
  background-color: #f2f2f2;
}

.margin-bottom-about-boxes > a:hover {
  text-decoration: none !important;
}

.margin-bottom-about-boxes {
  margin-bottom: 20px;
  margin-top: 10px;
}

/* ------ Footer / Social Media ------ */

#container {
    min-height: 100%;
    position: relative;
}

#body {
    padding-bottom: 135px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-wrap {
  padding-bottom: 2.5rem;
}

.footer-height {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.social-media-container {
  background-color: #f2f2f2 !important;
  margin-right: 0 !important;
}

.main-footer-container {
  background-color: #ebeced !important;
  margin-right: 0 !important;
  padding-top: 20px;
}

.main-footer-links {
  color: rgba(0, 0, 0, 0.5);
}

.social-media-footer {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-link {
  color: rgba(0, 0, 0, 0.9);
}

.facebook-footer i {
  font-size: 33px;
  color: rgba(0, 0, 0, 0.5);
}

.twitter-footer i {
  font-size: 33px;
  color: rgba(0, 0, 0, 0.5);
}

.instagram-footer i {
  font-size: 33px;
  color: rgba(0, 0, 0, 0.5);
}

.pinterest-footer i {
  font-size: 33px;
  color: rgba(0, 0, 0, 0.5);
}

/* ------ Cart / Items in Cart ------ */

@media (max-width: 572px) {
  .cart-button-responsive {
    text-align: center;
    margin-bottom: 3px;
  }
}

.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}

/* ------ Checkout ------ */

.order-form-container {
  width: 70%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}
