

/* ------ General ------ */

button {
    margin-bottom: 12px;
}

form {
    width: 50%;
}

.accountform {
    padding-top: 20px;
}

/* ------ Bootstrap ------ */



/* ------ Navigation ------ */



/* ------ Footer ------ */

