{% extends 'base.html' %}

{% block content %}
<section class="container">
<div class="row">
    <div class="col-12">
        <h2 class="about-heading">
            <span>- Hello and Welcome -</span>
        </h2>
        <h4>This is JB:Marketing, a central hub for all marketers and web developers to advertise thier services.</h4>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h5>
            <span>We first want to take this opportunity to thank you for visiting our site today. We, just like you, are 
            business owners who strive to Here at JB:Marketing, our mission is
            to </span>
        </h5>
    </div>
</div>
</section>
{% endblock %}