{% extends 'base.html' %}

{% load static %}

{% block page_title %}Add a Comment{% endblock %}

{%block page_heading %}Add a Comment{% endblock %}

{% load bootstrap_tags %}

<!-- Form is used to add a comment that will be added to the relevant post -->
{% block content %}
<div class="form-container base-wrapper">
	<div class="form-styling justify-content-center">
		<h1>Your Comment</h1>
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			{{ form | as_bootstrap }}
			<button type="submit" class="btn btn-info">Add Comment</button>
		</form>
	</div>
</div>
{% endblock %}