{% extends 'base.html' %}

{% block content %}

<section class="jumbotron text-center">
    <div class="container">
      <h1>Marketing and web services</h1>
      <p class="lead text-muted">If you're looking to promote your marketing or web services, then you've come to the right place. Below you can do just that
      and it will become visible to all those looking for experts in thier field to help boost thier own businesses.</p>
      <p>
        <a href="{% url 'create_forum_post' %}" class="btn btn-primary my-2">Add Post</a>
      </p>
    </div>
</section>

<section class="container">
    <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h5 class="border-bottom border-gray pb-2 mb-0 forum-category-header">Recent Posts</h5>
        {% for post in posts %}
            <div class="media text-muted pt-3">
	        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark"><a href="{% url 'forum_post_details' post.id %}">{{ post.title }}</a></strong>
                {{ post.content|truncatewords:30 }}
            </p>
	        <hr>
            </div>
        {% endfor %}
    </div>
    <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h5 class="border-bottom border-gray pb-2 mb-0 forum-category-header">General Discussion</h5>
        {% for post in posts %}
            <div class="media text-muted pt-3">
	        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark"><a href="{% url 'forum_post_details' post.id %}">{{ post.title }}</a></strong>
                {{ post.content|truncatewords:30 }}
            </p>
	        <hr>
            </div>
        {% endfor %}
    </div>
    <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h5 class="border-bottom border-gray pb-2 mb-0 forum-category-header">Events</h5>
        {% for post in posts %}
            <div class="media text-muted pt-3">
	        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark"><a href="{% url 'forum_post_details' post.id %}">{{ post.title }}</a></strong>
                {{ post.content|truncatewords:30 }}
            </p>
	        <hr>
            </div>
        {% endfor %}
    </div>

</section>
{% endblock %}