{% extends 'base.html' %}

{% block page_title %}Post Details{% endblock %}

{%block page_heading %}Post Details{% endblock %}

{% block content %}
<section class="container panel-body-forum-details">
	<div class="row">
		<div class="col-md-6">
			<h3>{{ post.title }}</h3>
			<hr>
			<p>{{ post.content }}</p>
			<br>
    </div>
			<div class="col-md-6">
				{% if post.image %}
				<img class="img-blogpost" src="/media/{{ review.image }}">
        {% endif %}
    </div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<button class="btn btn-secondary" type="button" onclick="postInfo()">Toggle Post Details</button>
				</div>
			</div>

			<div id="postInfo" class="row">
				<div class="col-lg-12">
					<p><span class="boldtext">Posted:</span> {{ post.published_date }} </p>
					<p><span class="boldtext">Views:</span> {{post.views}}</p>
					<p><span class="boldtext">Category:</span> {{ post.category }} {{request.user.username}}
						{{post.creator_id}}</p>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<a href="{% url 'get_forum' %}" class="btn btn-outline-primary margin-bottom-30">Back to Forum</a>
					{% if request.user == post.creator_id %}
					<a href="{% url 'edit_forum_post' post.id %}" class="btn btn-outline-warning margin-bottom-30">Edit
						Post</a>
					{% endif %}
				</div>
			</div>
</section>
{% endblock %}