{% extends 'base.html' %}

{% block page_title %}Post Details{% endblock %}

{%block page_heading %}Post Details{% endblock %}

{% block content %}
<section class="container panel-body-forum-details">
	<div class="row">
		<div class="col-md-6">
			<h3>{{ post.title }}</h3>
			<hr>
			<p>{{ post.content }}</p>
			<br>
    </div>
			<div class="col-md-6">
                <!-- If an image is added with the post, it will be displayed here -->
				{% if post.image %}
                <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ post.image }}')"></div>
                {% endif %}
    </div>
			</div>

			<div class="row">
				<div class="col-md-6">
                    <!-- User has the option to hide extra, less import, details about the post -->
					<button class="btn btn-secondary" type="button" onclick="postInfo()">Toggle Post Details</button>
				</div>
			</div>

			<div id="postInfo" class="row">
				<div class="col-lg-12">
					<p><span class="boldtext">Posted:</span> {{ post.published_date }} </p>
					<p><span class="boldtext">Views:</span> {{post.views}}</p>
					<p><span class="boldtext">Category:</span> {{ post.category }} </p>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<a href="{% url 'get_forum' %}" class="btn btn-outline-primary margin-bottom-30">Back to Forum</a>
                    <!-- 'Edit Post' will only display for the post creator -->
					{% if request.user == post.creator_id %}
					<a href="{% url 'edit_forum_post' post.id %}" class="btn btn-outline-warning margin-bottom-30">Edit
						Post</a>
					{% endif %}
				</div>
			</div>
</section>
{% endblock %}