{% extends 'base.html' %}

{% block page_title %}Forum Post Page{% endblock %}

{%block page_heading %}Forum Post{% endblock %}

{% load bootstrap_tags %}

<!-- Form is used to create a post that will be added to the main forum -->
{% block content %}
<div class="form-container base-wrapper">
	<div class="form-styling justify-content-center">
		<h1>Your Post</h1>
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			{{ form | as_bootstrap }}
			<button type="submit" class="btn btn-info">Save Post</button>
		</form>
	</div>
</div>
{% endblock %}