{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block page_title %}Login Page{% endblock %}

{%block page_heading %}Login{% endblock %}

{% block content %}
<div class="form-container base-wrapper">
<div class="registration-form justify-content-center">
<form method="POST">
<h4>Login</h4><hr>
  {% csrf_token %}
  {{ login_form | as_bootstrap }}
  <button type="submit" class="btn btn-primary">Login</button>
</form>
    <div>
      <hr />
      <p class="text-muted">
        Forgotton your password? <a target="_blank" href="{% url 'password_reset' %}">Reset</a>
      </p>
    </div>
</div>
</div>
{% endblock %}