{% extends 'base.html' %}

{% block content %}
<section class="container">
<div class="add-post row">
    <div class="col-lg-6">
        <td>
            <a class="btn btn-primary float-left ml-2" href="{% url 'add_review' %}">Add a Post</a>
        </td>
    </div>
    <div class="col-lg-6">
    <form action="{% url 'search' %}" method="GET">
      <input type="text" name="q" />
      <button type="submit">Search</button>
    </form>
    </div>
</div>

{% for post in posts %}
<div class="row panel-body">
	<div class="col-md-2 col-sm-3 text-center">
		<a class="story-img" href="#">
			<div class="product" style="background-image: url('{{ MEDIA_URL }}{{ post.image }}')"></div>
                </a>
	</div>
	<div class="col-md-10 col-sm-9">
		<h3>{{ post.title }}</h3>
		<div class="row">
			<div class="col-xs-9">
				<p>{{ post.content|truncatewords:30 }}</p>
				<p><a href="{% url 'review_details' post.id %}" class="btn btn-default">Read more</a></p>
				<p><span class="boldtext">Published on:</span> {{ post.published_date }} </p>
				<p><span class="boldtext">Views:</span> {{post.views}}</p>
				<p><span class="boldtext">Tag:</span> {{ post.tag }}</p>
			</div>
		</div>
	</div>
	<hr>
</div>
{% endfor %}
</section>
{% endblock %}